@import 'events';
@import 'fade';
@import 'form';

$color-grey: #ddd;


#app {
    height: 68vh;
}


.flex{
    display: flex;
}
.calendar{
    flex-wrap: wrap;
    height: 100%;
}

.date{
    width: 14%;
    overflow: hidden;
    height: 132px;
    border: 1px solid black;
    cursor: pointer;
}

.container{
  width: 80%;
  margin: auto;
  height: 100%;
}

.dark{
    background:$color-grey;
}

.header{
  height: 5%;
  width: 97%;
  color: white;
  margin-bottom: 1%;
  padding: 15px 15px;
  text-align: center;
  font-size: 2em;
  display: flex;
  div {
      margin-right: 1%;
  }
  i{
      margin-left: 8px;
      cursor: pointer;
  }
}

.date-preview{
    margin-top: 5%;
  p{
  margin: 0;
  }
}
.date-preview-time{
  color: $color-grey;
}

.days-of-week {
    font-size: 1.5em;
  div{
    width: 100%;
  }
}